<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" ng-show="isAllowed('EMPLOYEE')">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" ng-show="isAllowed('EXECUTOR')||isAllowed('MANAGER')">
                    <a class="nav-link" href="#!/income">Все заявки</a>
                </li>
                <li class="nav-item" ng-show="isAllowed('EXECUTOR')||isAllowed('MANAGER')">
                    <a class="nav-link" href="#!/assigned">Назначеные заявки</a>
                </li>
                <li class="nav-item" ng-show="isAllowed('SENIOR')">
                    <a class="nav-link" href="#!/statistics">Статистика</a>
                </li>
                <li class="nav-item" ng-show="isAllowed('ADMIN')">
                    <a class="nav-link" href="#!/admin">Администрирование</a>
                </li>
            </ul>


        </div>

    </nav>
    <p></p>
    <h3>Назначеные заявки</h3>
    <p></p>
</div>

<div ng-show="isAllowed('EMPLOYEE')">
    <div class="accordion accordion-flush" id="accordion"  ng-repeat="o in OrdersPage.content">
        <div class="accordion-item">
            <h2 class="accordion-header" id="fh{{o.id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fc{{o.id}}" aria-expanded="false" aria-controls="fc{{o.id}}">
                    {{o.id}} : {{o.title}}
                </button>
            </h2>
            <div id="fc{{o.id}}" class="accordion-collapse collapse" aria-labelledby="fh{{o.id}}" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <table class="table table-primary">

                        <tr>
                            <th scope="row">ID   :</th>
                            <td>{{o.id}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Пользователь :</th>
                            <td>{{o.username}}</td>

                        </tr>
                        <tr>
                            <th scope="row">Тема :</th>
                            <td>{{o.title}}</td>

                        </tr>

                        <tr>
                            <th scope="row">Описание   :</th>
                            <td>{{o.description}}</td>

                        </tr>
                        <tr>
                            <th scope="row">Коментарии :</th>
                            <td>{{o.description}}</td>

                        </tr>
                        <tr>
                            <th scope="row">Создан :</th>
                            <td>{{o.createdAt}}</td>

                        </tr>
                        <tr>
                            <th scope="row">Назначен :</th>
                            <td>{{o.assignedAt}}</td>

                        </tr>

                        <tr>
                            <th scope="row">Принят :</th>
                            <td>{{o.acceptedAt}}</td>
                            <td>
                                <button ng-show="isNotAccepted(o.acceptedAt)" type="button" ng-click="accept(o.processId)" class="btn btn-warning">Приступить</button>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Закрыт :</th>
                            <td>{{o.finishedAt}}</td>
                            <td>
                                <button ng-show="!isNotAccepted(o.acceptedAt)&&isNotFinished(o.finishedAt)" type="button" ng-click="finish(o.processId)" class="btn btn-warning">Завершить</button>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Прикрепить :</th>
                            <td>
                                <form novalidate>

                                    <textarea class="form-control" id="validationDefault03" placeholder="Комментарий" rows="3" ng-model="commit" required></textarea>
                                    <p></p>

                                </form>
                            </td>
                        </tr>



                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<p></p>
<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" ng-repeat="pageIndex in paginationArray">
                <button class="page-link" ng-click="loadOrders(pageIndex)">{{pageIndex}}</button>
            </li>
        </ul>
    </nav>
</div>